body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
}

.container {
    max-width:800px;
    margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
    body {
       background: black;
       color: white;
    }
    
    a, a:visited, a:active {
        color: orange;
    }
}