body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', system-ui, 'Ubuntu', 'Droid Sans', sans-serif;
}

.container {
    max-width:800px;
    margin: 0 auto;
}

table {
    border-spacing: 0px;
}

table th {
    border-bottom: 1px solid;
}

table td {
    border-bottom: 1px solid #ddd;
}

table th, td {
    padding: .5em;
}

@media (prefers-color-scheme: dark) {
    body {
       background: black;
       color: white;
    }
    
    a, a:visited, a:active {
        color: orange;
    }
    
    table td {
        border-bottom: 1px solid #555;
    }
}